extends layout
block stylesheet
	link(rel='stylesheet', href='/css/show.css')
	link(rel='stylesheet', href='/css/wmd.css')
	script(src='/js/showdown.js')
block container
	div#pdfview
	div#memo
		form(method='POST', action='/memo/#{pdf}')
			textarea#text(name='text')
			input(type='submit', value='submit')
	script(src='/js/pdf.js')
	script(src='/js/pdf.worker.js')
	script(src='/js/show.js')
	script(src='/js/jquery-2.1.3.min.js')
	script.
		loadPDF("/files/#{pdf}");
	script(src='/js/wmd.js')
